@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#list-of-elements {
    background-color: #3A3F47;
}

.group-element {
    background-color: white;
    align-content: center;
    border: 1px;
}

.group-element p {
    font-family: 'Nanum Gothic', sans-serif;
}

#content-of-note p {
    font-family: 'Nanum Gothic', sans-serif;
}
